.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  width: 272px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus-within {
  border: 1px solid #4e75ff;
  outline: none;
}

.form input::placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.form button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.form button:hover {
  background: #6c8cff;
}
